# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[{asctime}] #{levelname:8} {filename}:{lineno} - {name} - {message}"
LOG_STYLE="{"

# Bot
BOT_TOKEN=YOUR_BOT_TOKEN
ADMIN_IDS=1,2,3

# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=PgAdminSecurePass42!
PGADMIN_PORT=5050
